body{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    padding: 64px;
}
button{
    margin: 64px;
    padding: 8px 24px;
    font-weight: 700;
}
.result{
    text-align: center;
}